#boxAdmin{
    margin: 15px;
    width: 450px;
    display: inline-block;
}

#BigBox{
    margin: 15px;
    width: 750;
    display: block;
}
/*
aside{
    width: 250px;
}*/
.dashboard-panel{
    top: 0px;
    display: inline-block;
    width: 15rem;
    position: relative;
    vertical-align: top;
    background-color:#DBDBDB;
    height: 700px;
}
.dashboard-main{
  
    position: relative;
    display: inline-block;
    width: 75%;
    top:15px;
}

.menu-list a:hover{
    background-color: #4af1ce;
    color: white;
}
.menu{
    margin-left: 10px;
    margin-right: 10px;
}