

.Tableusers {
    font-family: 'PT Sans', sans-serif;
    font-family: 'Barlow', sans-serif;
    font-family: 'Pontano Sans', sans-serif;
}

/*nuevoestilo*/
.table thead tr th {
    border-width: 0 0 3px;
    background-color: #4AE0B8;
    color: #ffff;
    font-family: 'PT Sans', sans-serif;
  }