body, html {
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    background-color: #fafafa;
    height: 100%;
}

.MuiGrid-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.MuiGrid-grid-xs-true {
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
}

.MuiGrid-item {
    margin: 0;
    box-sizing: border-box;
}

.MuiContainer-root {
    width: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.MuiGrid-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.MuiTypography-h5 {
    font-size: 1.8rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0em;
}

.MuiTypography-root {
    margin: 0;
}

.MuiAvatar-colorDefault {
    color: #fafafa;
    background-color: #bdbdbd;
}

.MuiAvatar-root {
    width: 40px;
    height: 40px;
    display: flex;
    overflow: hidden;
    position: relative;
    font-size: 1.25rem;
    align-items: center;
    flex-shrink: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
}

.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.MuiFormControl-fullWidth {
    width: 100%;
}

.MuiFormControl-marginNormal {
    margin-top: 16px;
    margin-bottom: 8px;
}

.MuiFormControl-root {
    border: 0;
    margin: 0;
        margin-top: 0px;
        margin-bottom: 0px;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}

.MuiInputLabel-outlined {
    z-index: 1;
    transform: translate(14px, 20px) scale(1);
    pointer-events: none;
}

.MuiInputLabel-animated {
    transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}

.MuiInputLabel-formControl {
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(0, 24px) scale(1);
}

.MuiInputLabel-root {
    display: block;
    transform-origin: top left;
}

.MuiFormLabel-root {
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.00938em;
}

.MuiInputBase-root {
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: inline-flex;
    position: relative;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.1875em;
}

.MuiInputBase-fullWidth {
    width: 100%;
}

.MuiOutlinedInput-root {
    position: relative;
}

.MuiInputBase-input {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1875em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    -webkit-tap-highlight-color: transparent;
}

.MuiOutlinedInput-input {
    padding: 18.5px 14px;
}

.MuiInputBase-input:invalid {
    box-shadow: none;
}

.MuiOutlinedInput-notchedOutline {
    border-color: rgba(0, 0, 0, 0.23);
}

.PrivateNotchedOutline-root-210 {
    top: -5px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
        padding-left: 0px;
    position: absolute;
    transition: padding-left 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,border-color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,border-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    pointer-events: none;
}

.PrivateNotchedOutline-legend-211 {
    padding: 0;
    text-align: left;
    transition: width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    line-height: 11px;
}

.WithStyles\(ForwardRef\(Button\)\)-root-212 {
    color: white;
    width: 380px;
    min-width: 64px;
    box-sizing: border-box;
    border-color: #1de9b6;
        border-left-color: rgb(29, 233, 182);
    background-color: #4AE0B8;
    border-left-color: #1de9b6;
}

.MuiButton-contained {
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 3px 1px -2px rgba(0,0,0,0.12);
    background-color: #e0e0e0;
}

.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}

.MuiButton-root {
    color: rgba(0, 0, 0, 0.87);
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
}

.MuiButtonBase-root {
    color: inherit;
    border: 0;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

img.logo {
    height: auto;
    max-width: 100%;
}

.toast-container {
    position: fixed;
    bottom: 5%;
    left: 5%;
    width: 300px !important;
    z-index: 999;
}
.toast-container .notification {
    transition: all 300ms ease;
}

.toast-container .notification.hidden {
    opacity: 0;
    visibility: hidden;
}

/* .g-recaptcha {
    display: inline-block;
} */

.g-recaptcha {
    display: inline-block;
}

.modal-card-foot {
    justify-content:flex-end !important
}

.colorPink {
    background-color: #F74784 !important;
    color: white;
}

.colorPink:hover {
    border-color: #b5b5b5;
    color: white !important;
}

.colorBlue {
    background-color: #1CD5EA !important;
    color: white;
}

.colorBlue:hover {
    border-color: #b5b5b5;
    color: white !important;
}

a .pagination-link.is-current {
    background-color: #3273dc !important;
    border-color: #3273dc;
    color: #fff;
}

.notification.is-info{
    background-color:#1CD5EA;
    color:#fff
}

.notification.is-success{
    background-color:#4AF1CE;
    color:rgba(0,0,0,.7)
}

.notification.is-warning{
    background-color:#EEFB7F;
    color:rgba(0,0,0,.7)
}

.notification.is-danger{
    background-color:#f74784;
    color:#fff
}

.modal.modal-active {
    visibility: visible;
}
.modal.modal-active {
    display: flex;
}

.modal.modal-active .modal-background {
    opacity: 1;
}

.content li + li {
    margin-top: 0em;
}

.menu-label {
    color: #7a7a7a;
    font-size: 1.2em;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: bold;
}

ul.pagination-list li {
    list-style: none;
}
