.headerEcommerce{
    padding: 0.2% 4%;
    display: block;
}
#step-section{
  padding-top:150px;
  position: relative;
}

.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}
#mainNav {
  padding: 0% 5%;
}

#mainNav img {
    width: 122px;
}

#mainNav .navbar-dropdown {
    width: 100%;
}

#mainNav a {
    color: #1CD5EA;
    cursor: pointer;
    text-decoration: none;
  }
  #mainNav  a:hover {
    color: #F74784;
  }
  
a strong {
    color: currentColor;
  }
  
 
  

#secondNav a {
    text-decoration: none;
    background-image: linear-gradient(#4AE0B8, #4AE0B8);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

#secondNav a:hover, a:focus {
  background-size: 50% 2px;
}

.navbar.is-purple {
    background-color: #9696D4;
    color: white;
  }
  
  .navbar.is-purple .navbar-brand > .navbar-item,
  .navbar.is-purple .navbar-brand .navbar-link {
    color: white;
  }
  
  .navbar.is-purple .navbar-brand > a.navbar-item:focus, .navbar.is-purple .navbar-brand > a.navbar-item:hover, .navbar.is-purple .navbar-brand > a.navbar-item.is-active,
  .navbar.is-purple .navbar-brand .navbar-link:focus,
  .navbar.is-purple .navbar-brand .navbar-link:hover,
  .navbar.is-purple .navbar-brand .navbar-link.is-active {
    background-color: #4AE0B8;
    color: white;
  }
  
  .navbar.is-purple .navbar-brand .navbar-link::after {
    border-color: white;
  }
  
  .navbar.is-purple .navbar-burger {
    color: white;
  }
  
  @media screen and (min-width: 1024px) {
    .navbar.is-purple .navbar-start > .navbar-item,
    .navbar.is-purple .navbar-start .navbar-link,
    .navbar.is-purple .navbar-end > .navbar-item,
    .navbar.is-purple .navbar-end .navbar-link {
      color:white;
    }
    .navbar.is-purple .navbar-start > a.navbar-item:focus, .navbar.is-purple .navbar-start > a.navbar-item:hover, .navbar.is-purple .navbar-start > a.navbar-item.is-active,
    .navbar.is-purple .navbar-start .navbar-link:focus,
    .navbar.is-purple .navbar-start .navbar-link:hover,
    .navbar.is-purple .navbar-start .navbar-link.is-active,
    .navbar.is-purple .navbar-end > a.navbar-item:focus,
    .navbar.is-purple .navbar-end > a.navbar-item:hover,
    .navbar.is-purple .navbar-end > a.navbar-item.is-active,
    .navbar.is-purple .navbar-end .navbar-link:focus,
    .navbar.is-purple .navbar-end .navbar-link:hover,
    .navbar.is-purple .navbar-end .navbar-link.is-active {
        background-color: #4AE0B8;
        color: white;
    }
    .navbar.is-purple .navbar-start .navbar-link::after,
    .navbar.is-purple .navbar-end .navbar-link::after {
      border-color: white;
    }
    .navbar.is-purple .navbar-item.has-dropdown:focus .navbar-link,
    .navbar.is-purple .navbar-item.has-dropdown:hover .navbar-link,
    .navbar.is-purple .navbar-item.has-dropdown.is-active .navbar-link {
        background-color: #4AE0B8;
        color: white;
    }
    .navbar.is-purple .navbar-dropdown a.navbar-item.is-active {
      background-color: white;
      color: #0a0a0a;
      text-decoration-line: overline;
      text-decoration-color: #4AE0B8;
      text-decoration-style: solid;
      text-decoration-line: none;
    }

  
    .navbar-dropdown a.navbar-item:hover .icon { 
        color: #4AE0B8;
    }
  }
/*
  .navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: #fafafa;
    text-decoration-line: overline;
      text-decoration-color: #4AE0B8;
      text-decoration-style: solid;
      text-decoration-line: none;
  }
  */
  
 

.ecommerce-main a:hover, a:focus {
    background-size: 100% 2px;
}
.ecommerce-main a {
    text-decoration: none;
    background-image: linear-gradient(#4AE0B8, #4AE0B8);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

#MenuEcommerce {
  padding: 0% 5%;
  background-color: #9696D4;
}

#MenuEcommerce .navbar-item img {
  max-height: 8rem !important;
}
#MenuEcommerce .rightSide img {
  max-width: 70% !important;
}

#secondNav .navbar-dropdown .navbar-item .icon {
  padding-right: 7px;
  font-size: 85%;
}

#titMenu {
  color: #4AE0B8;
  font-weight: 700;
  font-size: 200%;
 /* font-family: 'Quicksand', sans-serif;*/
 font-family: 'Amatic SC', cursive;
}



#firstPartPromotion {
  padding: 4% 15%;
}

#firstPartPromotion p{
  font-size: 14px;
}
#firstPartPromotion h2{
  font-size: 17px;
  font-weight: 700;
  color: #1CD5EA;
  padding-bottom: 2%;
}

#firstPartPromotion img {
  height: 200px;
}

#secondPartPromotion {
  padding: 0% 11%;
}
#secondPartPromotion h2 {
  font-size: 25px;
  font-weight: bold;
  padding: 2%;
}

#carousel-products .costPCaroussel {
  color: #F74784;
}






.firstFooter hr{
  background-color: #F74784;
}
.firstFooter h6{
  color: #F74784;
  font-weight: bold;
  font-size: 14px;
}
.firstFooter .line {
  padding: 0% 5%;
}
.firstFooter .pBody {
  padding: 0% 10%;
  font-weight: bold;
  font-size: 12px;
  padding-bottom: 2%;
}
.secondFooter {
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  background-color: #9696D4;
  font-size: 13px;
  height: 50px;
}


.firstFooter a { 
  color: #afa5a5;
  font-weight: lighter;
  font-style: italic;
}
.firstFooter a:hover { 
  color: #4a4a4a;
  font-weight: bold;
  font-style: italic;
}
/*--------------------------------------------------------------------*/
