.headerEcommerce{
    padding: 0.2% 4%;
    display: block;
}
#step-section{
  padding-top:150px;
  position: relative;
}

.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}
#mainNav {
  padding: 0% 5%;
}

#mainNav img {
    width: 122px;
}

#mainNav .navbar-dropdown {
    width: 100%;
}

#mainNav a {
    color: #1CD5EA;
    cursor: pointer;
    text-decoration: none;
  }
  #mainNav  a:hover {
    color: #F74784;
  }
  
a strong {
    color: currentColor;
  }
  
#usuario {
  display: none;
}

#logIn {
  display: flex;
}

.is-half {
  width: 47% !important;
}  

.is-divider-vertical {
  margin-top: 120px;
}

#secondNav a {
    text-decoration: none;
    background-image: linear-gradient(#4AE0B8, #4AE0B8);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

#secondNav a:hover, a:focus {
  background-size: 50% 2px;
}

.navbar.is-purple {
    background-color: #9696D4;
    color: white;
  }
  
  .navbar.is-purple .navbar-brand > .navbar-item,
  .navbar.is-purple .navbar-brand .navbar-link {
    color: white;
  }
  
  .navbar.is-purple .navbar-brand > a.navbar-item:focus, .navbar.is-purple .navbar-brand > a.navbar-item:hover, .navbar.is-purple .navbar-brand > a.navbar-item.is-active,
  .navbar.is-purple .navbar-brand .navbar-link:focus,
  .navbar.is-purple .navbar-brand .navbar-link:hover,
  .navbar.is-purple .navbar-brand .navbar-link.is-active {
    background-color: #4AE0B8;
    color: white;
  }
  
  .navbar.is-purple .navbar-brand .navbar-link::after {
    border-color: white;
  }
  
  .navbar.is-purple .navbar-burger {
    color: white;
  }
  
  @media screen and (min-width: 1024px) {
    .navbar.is-purple .navbar-start > .navbar-item,
    .navbar.is-purple .navbar-start .navbar-link,
    .navbar.is-purple .navbar-end > .navbar-item,
    .navbar.is-purple .navbar-end .navbar-link {
      color:white;
    }
    .navbar.is-purple .navbar-start > a.navbar-item:focus, .navbar.is-purple .navbar-start > a.navbar-item:hover, .navbar.is-purple .navbar-start > a.navbar-item.is-active,
    .navbar.is-purple .navbar-start .navbar-link:focus,
    .navbar.is-purple .navbar-start .navbar-link:hover,
    .navbar.is-purple .navbar-start .navbar-link.is-active,
    .navbar.is-purple .navbar-end > a.navbar-item:focus,
    .navbar.is-purple .navbar-end > a.navbar-item:hover,
    .navbar.is-purple .navbar-end > a.navbar-item.is-active,
    .navbar.is-purple .navbar-end .navbar-link:focus,
    .navbar.is-purple .navbar-end .navbar-link:hover,
    .navbar.is-purple .navbar-end .navbar-link.is-active {
        background-color: #4AE0B8;
        color: white;
    }
    .navbar.is-purple .navbar-start .navbar-link::after,
    .navbar.is-purple .navbar-end .navbar-link::after {
      border-color: white;
    }
    .navbar.is-purple .navbar-item.has-dropdown:focus .navbar-link,
    .navbar.is-purple .navbar-item.has-dropdown:hover .navbar-link,
    .navbar.is-purple .navbar-item.has-dropdown.is-active .navbar-link {
        background-color: #4AE0B8;
        color: white;
    }
    .navbar.is-purple .navbar-dropdown a.navbar-item.is-active {
      background-color: white;
      color: #0a0a0a;
      text-decoration-line: overline;
      text-decoration-color: #4AE0B8;
      text-decoration-style: solid;
      text-decoration-line: none;
    }

  
    .navbar-dropdown a.navbar-item:hover .icon { 
        color: #4AE0B8;
    }
  }
/*
  .navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: #fafafa;
    text-decoration-line: overline;
      text-decoration-color: #4AE0B8;
      text-decoration-style: solid;
      text-decoration-line: none;
  }
  */
  
 

.ecommerce-main a:hover, a:focus {
    background-size: 100% 2px;
}
.ecommerce-main a {
    text-decoration: none;
    background-image: linear-gradient(#4AE0B8, #4AE0B8);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

#MenuEcommerce {
  padding: 0% 5%;
  background-color: #9696D4;
}

#MenuEcommerce .navbar-item img {
  max-height: 8rem !important;
}
#MenuEcommerce .rightSide img {
  max-width: 70% !important;
}

#secondNav .navbar-dropdown .navbar-item .icon {
  padding-right: 7px;
  font-size: 85%;
}

#titMenu {
  color: #4AE0B8;
  font-weight: 700;
  font-size: 200%;
 /* font-family: 'Quicksand', sans-serif;*/
 font-family: 'Amatic SC', cursive;
}



#firstPartPromotion {
  padding: 10% 15% 10% 15%;
  height: 100vh;
}

#firstPartPromotion p{
  font-size: 24px;
}
#firstPartPromotion h2{
  font-size: 27px;
  font-weight: 700;
  color: #1CD5EA;
  padding-bottom: 2%;
}

#firstPartPromotion img {
  height: 350px;
  padding-left: 17%;
}

#secondPartPromotion {
  padding: 0% 11%;
  height: 100vh;
}
#secondPartPromotion h2 {
  font-size: 25px;
  font-weight: bold;
  padding: 0.5%;
}

#carousel-products .costPCaroussel {
  color: #F74784;
}






.firstFooter hr{
  background-color: #9696D4;
  height: 3px;
}
.firstFooter h6{
  color: #1CD5EA;
  font-weight: bold;
  font-size: 17px;
  padding-bottom: 5px;
}
.firstFooter .line {
  padding: 0.5% 5%;
}
.firstFooter .pBody {
  padding: 0.5% 7%;
  font-size: 14px;
}

.firstFooter .pBody .button {
  background-color: #9696D4;
  color: white;
}
.secondFooter {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #9696D4;
  font-size: 14px;
  height: 50px;
}
.secondFooter a {
  font-weight: lighter;
  font-style: italic;
  color: white;
}
.secondFooter a:hover { 
  font-weight: bold;
  font-style: italic;
}


.firstFooter a { 
  color: #afa5a5;
  font-weight: lighter;
  font-style: italic;
}
.firstFooter a:hover { 
  color: #4a4a4a;
  font-weight: bold;
  font-style: italic;
}
.productosFoot a {
  font-size: 13.5px;
  padding: 1px 3px;
}
/*--------------------------------------------------------------------*/
.is-horizontal-center {
  justify-content: center;
  justify-items: center;
  text-justify: center;
}


.item-11 a{
  position: absolute;
  bottom:40%;
  right:39%;
  background-color:#FFC2E8;
  border-radius:1.2em;
  color: #F74784;
  text-transform:uppercase;
  padding:1em 1.5em;
  font-size: 160%;
  font-family: 'Lato', sans-serif;
}
.item-11 a:hover{
  background-color:#1CD5EA;
  color: white;
}

.item-22 a{
  position: absolute;
  bottom:60%;
  right:74%;
  background-color:#FFC2E8;
  border-radius:1em;
  color: #F74784;
  text-transform:uppercase;
  padding:0.7em 1.5em;
  font-size: 140%;
  font-family: 'Lato', sans-serif;
}
.item-22 a:hover{
  background-color:#1CD5EA;
  color: white;
}

.item-33 a{
  position: absolute;
  bottom:23%;
  right:67.5%;
  background-color:#FFC2E8;
  border-radius:1em;
  color: #F74784;
  text-transform:uppercase;
  padding:0.6em 1.5em;
  font-size: 148%;
  font-family: 'Lato', sans-serif;
}
.item-33 a:hover{
  background-color:#1CD5EA;
  color: white;
}
@media screen and (max-height: 671px) {
  .item-11 a{
    bottom:33%;
   /* bottom:210px;*/
  }
  .item-22 a{
    bottom:56%;
  }
  
  .item-33 a{
    bottom:13%;
  }
}

@media screen and (max-height: 600px) {
  .item-11 a{
    bottom:30%;
  }
  
  .item-22 a{
    bottom:54%;
  }
}

@media screen and (max-height: 623px) {
  .item-33 a{
    bottom:7%;
  }
}
@media screen and (max-height: 574px) {
  .item-33 a{
    bottom:5%;
  }
}

/*PRUEBAS-----------------------------------------------------------------------------*/
@media screen and (max-width: 1512px) {
  
.item-11 a{
  bottom:38%;
  right:38%;
  border-radius:1.2em;
  padding:1em 1.5em;
  font-size: 160%;
}

.item-22 a{
  bottom:60%;
  right:74%;
  border-radius:1em;
  padding:0.7em 1.5em;
  font-size: 140%;
}
.item-33 a{
  bottom:18%;
  right:67.5%;
  border-radius:1em;
  padding:0.6em 1.5em;
  font-size: 146%;
}
}
@media screen and (max-width: 1376px) {
  
  .item-11 a{
    bottom:44%;
    right:37%;
    border-radius:1.2em;
    padding:1em 1.5em;
    font-size: 160%;
  }
  
  .item-22 a{
    bottom:60%;
    right:73%;
    border-radius:1em;
    padding:0.7em 1.5em;
    font-size: 140%;
  }
  .item-33 a{
    bottom:25%;
    right:66.85%;
    border-radius:1em;
    padding:0.6em 1.5em;
    font-size: 140%;
  }
  }


  @media screen and (max-width: 1295px) {
  
    .item-11 a{
      bottom:46%;
      right:37%;
      border-radius:1.2em;
      padding:1em 1.5em;
      font-size: 160%;
    }
    
    .item-22 a{
      bottom:64%;
      right:73.7%;
      border-radius:1em;
      padding:0.7em 1.5em;
      font-size: 120%;
    }
    .item-33 a{
      bottom:29%;
      right:67%;
      border-radius:1em;
      padding:0.6em 1.5em;
      font-size: 130%;
    }
    }
  
    @media screen and (max-width: 1220px) {
  
      .item-11 a{
        bottom:49%;
        right:35%;
        border-radius:1.2em;
        padding:1em 1.5em;
        font-size: 160%;
      }
      
      .item-22 a{
        bottom:66%;
        right:73.3%;
        border-radius:1em;
        padding:0.7em 1.5em;
        font-size: 120%;
      }
      .item-33 a{
        bottom:33%;
        right:67%;
        border-radius:1em;
        padding:0.6em 1.5em;
        font-size: 120%;
      }
      }
    
      @media screen and (max-width: 1170px) {
  
        .item-11 a{
          bottom:51%;
          right:35%;
          border-radius:1.2em;
          padding:1em 1.5em;
          font-size: 160%;
        }
        
        .item-22 a{
          bottom:66%;
          right:73.3%;
          border-radius:1em;
          padding:0.7em 1.5em;
          font-size: 120%;
        }
        .item-33 a{
          bottom:37%;
          right:67.4%;
          border-radius:1em;
          padding:0.6em 1.5em;
          font-size: 110%;
        }
  }

@media screen and (max-width: 1100px) {

  .item-11 a{
    bottom:53%;
    right:35%;
    border-radius:1.2em;
    padding:0.9em 1.5em;
    font-size: 150%;
  }
  
  .item-22 a{
    bottom:69%;
    right:73.3%;
    border-radius:1em;
    padding:0.7em 1.5em;
    font-size: 110%;
  }
  .item-33 a{
    bottom:40%;
    right:67.2%;
    border-radius:1em;
    padding:0.6em 1.5em;
    font-size: 110%;
  }
}
  @media screen and (max-width: 1040px) {

    .item-11 a{
      bottom:57%;
      right:35%;
      border-radius:1.2em;
      padding:0.9em 1.5em;
      font-size: 140%;
    }
    
    .item-22 a{
      bottom:72%;
      right:73.5%;
      border-radius:1em;
      padding:0.7em 1.5em;
      font-size: 98%;
    }
    .item-33 a{
      bottom:44%;
      right:67.2%;
      border-radius:1em;
      padding:0.6em 1.5em;
      font-size: 100%;
    }
  }

    
@media screen and (max-width: 984px) {
  
  .item-11 a{
    bottom:59%;
      right:36%;
      border-radius:1.2em;
      padding:0.9em 1.5em;
      font-size: 120%;
  }
  .item-22 a{
    bottom:72%;
    right:73.5%;
    border-radius:1em;
    padding:0.7em 1.5em;
    font-size: 98%;
  }
  .item-33 a{
    bottom:46%;
    right:66.9%;
    border-radius:1em;
    padding:0.6em 1.3em;
    font-size: 100%;
  }
  }
  @media screen and (max-width: 940px) {
  
    .item-11 a{
      bottom:62%;
        right:36%;
        border-radius:1.2em;
        padding:0.9em 1.5em;
        font-size: 120%;
    }
    
    .item-22 a{
      bottom:75%;
      right:73.4%;
      border-radius:1em;
      padding:0.7em 1.5em;
      font-size: 92%;
    }
    .item-33 a{
      bottom:48%;
    right:66.9%;
    border-radius:1em;
    padding:0.6em 1.3em;
    font-size: 100%;
  
    }
    }
    @media screen and (max-width: 850px) {
  
      .item-11 a{
        bottom:65%;
          right:36%;
          border-radius:1.2em;
          padding:0.6em 1.5em;
          font-size: 120%;
      }
      
      .item-22 a{
        bottom:76.5%;
        right:72.9%;
        border-radius:1em;
        padding:0.7em 1.5em;
        font-size: 88%;
      }
      .item-33 a{
        bottom:54%;
      right:66.9%;
      border-radius:1em;
      padding:0.6em 1.3em;
      font-size: 90%;
    
      }
  }
      
@media screen and (max-width: 768px) {
  .item-11 a{
    bottom:50%;
      right:31%;
      border-radius:1.2em;
      padding:0.6em 1.5em;
      font-size: 90%;
  }
 /*PENDIENTE*/ 
  .item-22 a{
    bottom:76.5%;
    right:72.9%;
    border-radius:1em;
    padding:0.7em 1.5em;
    font-size: 88%;
  }
  .item-33 a{
    bottom:58%;
  right:66.9%;
  border-radius:1em;
  padding:0.6em 1.3em;
  font-size: 80%;

  }
}

.toast-container {
  position: fixed;
  bottom: 5%;
  left: 5%;
  width: 300px !important;
  z-index: 999;
}
.toast-container .notification {
  transition: all 300ms ease;
}

.toast-container .notification.hidden {
  opacity: 0;
  visibility: hidden;
}

ul.pagination-list li {
    list-style: none;
}

.container nav {
    display: block;
    box-sizing: border-box;
}

.container center {
    box-sizing: border-box;
}

.container ul.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    box-sizing: border-box;
}

.container ul.pagination > li {
    display: inline;
    box-sizing: border-box;
}

.container ul.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.container ul.pagination > .disabled > a {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.container ul.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    /* margin-left: -1px; */
    line-height: 1.42857143;
    /* color: #428bca; */
    text-decoration: none;
    /* background-color: #fff; */
    border: 1px solid #ddd;
        /* border-top-color: rgb(221, 221, 221);
        border-right-color: rgb(221, 221, 221);
        border-bottom-color: rgb(221, 221, 221);
        border-left-color: rgb(221, 221, 221); */
}

.pagination > .active > a {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #428bca;
    border-color: #428bca;
}

/* Prueba */
ul.pagination-list li {
  list-style: none;
}

.container nav {
  display: block;
  box-sizing: border-box;
}

.container center {
  box-sizing: border-box;
}

.container ul.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  box-sizing: border-box;
}

.container ul.pagination > li {
  display: inline;
  box-sizing: border-box;
}

.container ul.pagination > li:first-child > a, .pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.container ul.pagination > .disabled > a {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}

.container ul.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  /* margin-left: -1px; */
  line-height: 1.42857143;
  /* color: #428bca; */
  text-decoration: none;
  /* background-color: #fff; */
  border: 1px solid #ddd;
      /* border-top-color: rgb(221, 221, 221);
      border-right-color: rgb(221, 221, 221);
      border-bottom-color: rgb(221, 221, 221);
      border-left-color: rgb(221, 221, 221); */
}

.pagination > .active > a {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca;
}

.product-count {
  background: none repeat scroll 0 0 #5a88ca;
  border-radius: 50%;
  color:#fff;
  display: inline-block;
  font-size: 8px;
  height: 20px;
  padding-top: 2px;
  position: absolute;
  right: -10px;
  text-align: center;
  top: 5px;
  width: 20px;
}

.shopping-item {
  /* border: 1px solid  */
  /* #ddd; */
  /* float: right; */
  /* font-size: 18px; */
  /* margin-top: 40px;
  padding: 10px; */
  position: relative;
  /* box-sizing: border-box; */
}